@model Studio

@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "DVDDetails";
    Layout = "_LayoutAdmin";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body mx-3">
                <h4 class="card-title mb-2">Delete Studio</h4>
                <p class="card-description mb-4"> Deleting Studio Information </p>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 col-form-label text-gray">Name:</label>
                            <div class="col">@Model.StudioName</div>
                        </div>

                    </div>
                    <br />
                    <div class="row mt-5">
                        <div class="col-md-6 col-sm-12 align-content-center" style="margin-left:40%;">
                            <div class="form-group float-right">
                                <form asp-action="Delete">
                                    <input type = "hidden" asp-for="StudioNumber">
                                    <input type = "Submit" value ="Confirm" class="btn btn-inverse-danger"/>
                                    <a class = "btn btn-inverse-secondary" asp-action="Index" style="margin-left;">Show All</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

