@*Defining Model*@
@model Studio

@*Defining Viewdata*@
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "DVDCopy";
    Layout = "_LayoutAdmin";
}

@*Coding*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body mx-3">
                <h4 class="card-title mb-2">Add new Studio</h4>
                <p class="card-description mb-4"> Enter the following information. </p>
                @*Defining Controller*@
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        @*Code for Studio data view in editable fields*@
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Studio Name :</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <input asp-for="StudioName" style="width: 400px" class="typeahead" type="text"
                                            placeholder="Enter studio name. " />
                                        <span asp-validation-for="StudioName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                         
                        @*Code for Studio update action buttons*@
                        <div class="col-md-6 col-sm-12">
                            <button value="Update" type="submit" class="btn btn-inverse-success btn-fw mr-4"> Update
                            </button>
                            <a type="button" class="btn btn-inverse-secondary btn-fw" asp-action="Index">Show All</a>
                        </div>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
