@model DVDTitle

@{
    ViewData["Title"] = "Add a New DVD Title";
}

<div class="row text"  _layout = null>
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New DVD Title</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action = "Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center"> 
                    <img id ="DVDPosterPreview" />
                </div>
                <div class="form-group">
                    <label class="control-label">DVD Title Poster</label>
                    <input asp-for="DVDPoster" class="form-control" /><br>
                    <span asp-validation-for="DVDPoster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">DVD Title Name</label>
                    <input asp-for="DVDTitleName" class="form-control" />
                    <span asp-validation-for="DVDTitleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label><br>
                    <select  asp-for="CategoryNumber" class="form-control" asp-items="ViewBag.CategoryNumber"></select><a class="btn btn-success" asp-controller="Category" asp-action="Create" style="margin-left:1%;"><i class="bi bi-plus-circle"></i>Add New Category</a><br>
                    <span asp-validation-for="CategoryNumber" class="text-danger"></span> <br>
                </div>
                <div class="form-group">
                    <label class="control-label">Studio</label><br>
                    <select asp-for="StudioNumber" class="form-control"  asp-items="ViewBag.StudioNumber"></select> <a class="btn btn-success" asp-controller="Studio" asp-action="Create" style="margin-left:1%;"><i class="bi bi-plus-circle"></i>Add New Studio</a><br>
                    <span asp-validation-for="StudioNumber" class="text-danger"></span> <br>
                </div>
                <div class="form-group">
                    <label class="control-label">Producer</label><br>
                    <select asp-for="ProducerNumber" class="form-control"  asp-items="ViewBag.ProducerNumber"></select><a class="btn btn-success" asp-controller="Producer" asp-action="Create" style="margin-left:1%;"><i class="bi bi-plus-circle"></i>Add New Producer</a><br>
                    <span asp-validation-for="ProducerNumber" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label class="control-label">Date Released</label>
                    <input asp-for="DateReleased" class="form-control" type="date"/>
                    <span asp-validation-for="DateReleased" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cast Members</label><br>
                    @*<select asp-for="CastMembers" class="form-select" multiple  asp-items="ViewBag.ActorNumber" multiple></select><br>*@
                    <select asp-for="CastMembers" class="form-select" style="display:list-item"  asp-items="ViewBag.ActorNumber" multiple="true"></select><a class="btn btn-success" asp-controller="Actor" asp-action="Create" style="margin-left:1%;"><i class="bi bi-plus-circle"></i>Add New Actor</a><br>
                    <span asp-validation-for="CastMembers" class="text-danger"></span><br>
                </div>
                <div class="form-group">
                    <label class="control-label">Standard Charge</label>
                    <input asp-for="StandardCharge" class="form-control" />
                    <span asp-validation-for="StandardCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Penalty Charge</label>
                    <input asp-for="PenaltyCharge" class="form-control" />
                    <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">DVD Copies</label>
                    Enter DVD Copies Here
                </div>
                <div class="form-group" style="margin:5px;">
                    <input type="submit" value="Create" class="btn btn-outline-success float right"/>
                    <a class = "btn btn-outline-secondary" asp-action="Index" style="margin-left:7%;">Show All</a>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#DVDPoster").on("change", function()
        {
            var output = document.getElementById('DVDPosterPreview');
            output.src = $(this).val();
        })
    </script>
}
