@model DVDTitle

@{
    ViewData["Title"] = "Add a New DVD Title";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>DVD Title Details: @Model.DVDTitleName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label class="control-label">DVD Title Poster</label>
                    <input asp-for="DVDPoster" class="form-control" readonly/>
                    <span asp-validation-for="DVDPoster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">DVD Title Name</label>
                    <input asp-for="DVDTitleName" class="form-control" readonly/>
                    <span asp-validation-for="DVDTitleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <input asp-for="CategoryNumber" class="form-control" readonly/>
                    <span asp-validation-for="CategoryNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Studio</label>
                    <input asp-for="StudioNumber" class="form-control" readonly/>
                    <span asp-validation-for="StudioNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Producer</label>
                    <input asp-for="ProducerNumber" class="form-control" readonly/>
                    <span asp-validation-for="ProducerNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date Released</label>
                    <input asp-for="DateReleased" class="form-control" readonly/>
                    <span asp-validation-for="DateReleased" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cast Members</label>
                    <input asp-for="CastMembers" class="form-control" readonly/>
                    <span asp-validation-for="CastMembers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Standard Charge</label>
                    <input asp-for="StandardCharge" class="form-control" readonly/>
                    <span asp-validation-for="StandardCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Penalty Charge</label>
                    <input asp-for="PenaltyCharge" class="form-control" readonly/>
                    <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">DVD Copies</label>
                    <input asp-for="DVDCopys" class="form-control" readonly/>
                    <span asp-validation-for="DVDCopys" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin:5px;">
                    <a class = "btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.DVDNumber">Edit</a> 
                    <a class = "btn btn-outline-secondary" asp-action="Index" style="margin-left:7%;">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

