@using RopeyDVDManagementSystem.Models;
@model NewDVDTitleVM

@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "DVDDetails";
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body mx-3">
                <h4 class="card-title mb-2">Update DVD Title</h4>
                <p class="card-description mb-4"> Update an existing DVD title </p>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">


                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">DVD Name:</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <input asp-for="DVDTitleName" style="width: 400px" class="typeahead"
                                            type="text" />
                                        <span asp-validation-for="DVDTitleName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">DVD Category:</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <select asp-for="CategoryNumber" style="width:60%"
                                            class="js-example-basic-single" style="display:list-item"
                                            asp-items="ViewBag.CategoryNumber"></select>
                                        <span asp-validation-for="CategoryNumber" class="text-danger"></span>
                                        <a class="btn btn-inverse-success" asp-controller="Category" asp-action="Create"
                                            style="margin-left:1%;"><i class="mdi mdi-library-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Date Released:</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <input asp-for="DateReleased" style="width: 400px" class="typeahead" />
                                        <span asp-validation-for="DateReleased" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Studio:</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <select asp-for="StudioNumber" style="width:60%" class="js-example-basic-single"
                                            style="display:list-item;" asp-items="ViewBag.StudioNumber"></select><a
                                            class="btn btn-inverse-success" asp-controller="Studio" asp-action="Create"
                                            style="margin-left:1%;"><i class="mdi mdi-library-plus"></i></a>
                                        <span asp-validation-for="StudioNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Producer:</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <select asp-for="ProducerNumber" style="width:60%"
                                            class="js-example-basic-single" style="display:list-item"
                                            asp-items="ViewBag.ProducerNumber">

                                        </select><a class="btn btn-inverse-success" asp-controller="Producer"
                                            asp-action="Create" style="margin-left:1%;"><i
                                                class="mdi mdi-library-plus"></i></a>
                                        <span asp-validation-for="ProducerNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Cast Member(s):</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <select asp-for="CastMembers" style="width:60%" class="js-example-basic-single"
                                            style="display:list-item" asp-items="ViewBag.ActorNumber" multiple="true">

                                        </select>
                                        <a class="btn btn-inverse-success" asp-controller="Actor" asp-action="Create"
                                            style="margin-left:1%;">
                                            <i class="mdi mdi-library-plus"></i>
                                        </a><br>
                                        <span asp-validation-for="CastMembers" class="text-danger"></span><br>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Standard Charge :</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <input asp-for="StandardCharge" style="width: 400px" class="typeahead"
                                            type="text" />
                                        <span asp-validatio4n-for="StandardCharge" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <label class="col-sm-3 col-form-label">Penalty Charge :</label>
                                <div class="col">
                                    <div id="the-basics">
                                        <input asp-for="PenaltyCharge" style="width: 400px" class="typeahead"
                                            type="text" />
                                        <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
                                    </div>
                                </div>
                                <br>

                            </div>
                            <br />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row mb-0">
                               
                            </div>
                            <button value="Edit" type="submit" style="margin:10px;"
                                class="btn btn-inverse-success btn-fw mr-4"> Update
                            </button>
                            <a type="button" style="margin-left:10px;" class="btn btn-inverse-secondary btn-fw"
                                asp-action="Index">Show All</a>
                        </div>

                        <br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
