@model DVDCopy

@{
   ViewData["Title"] = "DVDCopy";
}

<<h1 style="text-align: center;">Details for Copy Number: @Model.CopyNumber </h1>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row text">
                <div class="col-md-8 offset-2">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                             <div class="form-group">
                                 <label class="control-label">Copy Number</label>
                                <input asp-for="CopyNumber" class="form-control"  style="color: black;" readonly />
                                <span asp-validation-for="CopyNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">DVD Number</label>
                                <input asp-for="DVDNumber" class="form-control" style="color: black;" readonly />
                                <span asp-validation-for="DVDNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date Purchased</label>
                                <input asp-for="DatePurchased" class="form-control" style="color: black;" readonly />
                                <span asp-validation-for="DatePurchased" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin:5px;">
                                <a class = "btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.DVDNumber">Edit</a>
                                <a class = "btn btn-outline-secondary" asp-action="Index" style="margin-left:7%;">Show All</a>
                            </div>
               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

