@model DVDCopy

@{
    ViewData["Title"] = "DVDCopy";
}

<h1 style="text-align: center;">Update DVDCopy Details</h1>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action = "Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                         <label class="control-label">Copy Number</label>
                        <input asp-for="CopyNumber" class="form-control" readonly />
                        <span asp-validation-for="CopyNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">DVD Number</label>
                        <input asp-for="DVDNumber" class="form-control" />
                        <span asp-validation-for="DVDNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date Purchased</label>
                        <input asp-for="DatePurchased" class="form-control" />
                        <span asp-validation-for="DatePurchased" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin:5px;">
                        <input type="submit" value="Update" class="btn btn-outline-success float right"/>
                        <a class = "btn btn-outline-secondary" asp-action="Index" style="margin-left:7%;">Show All</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

